{
    "validate": {
        fields: {
            "field1": "LIKE(regex)",
            "field2": "NOT_EMPTY",
            "field3": "NOT_EMPTY"
        },
        "record": [
             "subcountry": "ARGMIN(RISK(field1), RISK(field2), RISK(field3))",
        ]
    },
    transform: {
        fields: {
            "field1": "UPPERCASE",
            "field2: "LOWERCASE",
        },
        record: [
            "field1": "DROP",
            "field2": "MASK('-')",
            "field3": "DROP_IF(RISK(>0.5))",
            "newfield": "CONCAT(field1, field2, field3),
            "district": "LOOKUP_DISTRICT(field1, fielld2)",
            "district": "LOOKUP(field1, fielld2, 'district_masterlist', 'district', 'district_id')",
             "subcountry": "ARGMIN(RISK(field1), RISK(field2), RISK(field3))",

           {"$drop": ["field1", "field2", "field3"]},
           {"$rename": ["field1", "some_name"]},
           {"$newField": {}},

        ]
    }
}